<div class="row toolbar-pf" style="margin-top: -20px">
    <div class="col-sm-12">
        <form class="toolbar-pf-actions">
            <button type="button" class="btn  btn-primary btn-lg" ng-click="addNewArea()"><span class="glyphicon glyphicon-plus"></span> New Area
            </button>
        </form>
        <div class="row toolbar-pf-results">
            <div class="col-sm-12">
                <h5>{{AreaTitle()}}</h5>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /col -->
</div><!-- /row -->