<div class="drawer-pf hide drawer-pf-notifications-non-clickable">
    <div class="drawer-pf-title">
        <a class="drawer-pf-toggle-expand"></a>
        <h3 class="text-center">Notifications Drawer</h3>
    </div>
    <div class="panel-group" id="notification-drawer-accordion">
        <notification-accordion notifications="notifs_from_autoserver" noMarkRead="markAllRead(group)" onDeleteAll="deleteAll(group)"
                                title="Automation Server Notifications" collapse-id="11">
        </notification-accordion>
        <notification-accordion notifications="notifs_from_user" noMarkRead="markAllRead(group)" onDeleteAll="deleteAll(group)"
                                title="User Notifications" collapse-id="22">
        </notification-accordion>
        <div class="drawer-pf-action">
            <button  ng-click="markAllRead('all')" class="btn btn-link btn-block">Mark All Read</button>
        </div>
        </div>
    </div>
</div>