<div class="drawer-pf hide drawer-pf-notifications-non-clickable">
    <div class="drawer-pf-title">
        <a class="drawer-pf-toggle-expand"></a>
        <h3 class="text-center">Notifications Drawer</h3>
    </div>
    <div class="panel-group" id="notification-drawer-accordion">
        <notification-accordion notifications="notifications" origin="automation_server" noMarkRead="markAllRead(group)" onDeleteAll="deleteAll(group)"
                                title="Automation Server Notifications" collapse-id="fixedCollapseOne">
        </notification-accordion>
        <notification-accordion notifications="notifications" origin="user" noMarkRead="markAllRead(group)" onDeleteAll="deleteAll(group)"
                                title="User Notifications" collapse-id="fixedCollapseTwo">
        </notification-accordion>
        <div class="drawer-pf-action">
            <button  ng-click="deleteAll()" class="btn btn-link btn-block">Delete All</button>
        </div>
        </div>
    </div>
</div>