<div class="list-group-item">
    <div class="list-view-pf-actions">
        <button ng-show="script.status == 'stopped'" ng-click="run()" class="btn btn-default">Run</button>
        <button ng-show="script.status == 'running'" ng-click="stop()" class="btn btn-default">Stop</button>
        <div class="dropdown pull-right dropdown-kebab-pf">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                <li><a href ng-click="shedule()"><span class="fa fa-calendar-o"></span> Shedule</a></li>
                <li role="separator" class="divider"></li>
                <li><a href ng-click="destroy({item: script})"><span class="fa fa-trash"></span> Destroy</a></li>
            </ul>
        </div>

    </div>
    <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
            <span class="fa fa-cogs list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">

            <div class="col-md-4 col-sm-4">
                <a href editable-text="script.name" onbeforesave="updateName($data)" class="text-ellipsis no-underline"><strong>{{ script.name }}</strong></a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href editable-textarea="script.description" onbeforesave="updateDescription($data)" e-rows="7" class="no-underline">
                <span class="">{{ script.description || 'no description' }}</span>
                </a>
            </div>
            <div class="col-md-2 col-sm-2">
                <strong>status: </strong> <span ng-class="{'fa fa-spinner fa-spin': script.status=='running',
                'fa fa-ban': script.status== 'stopped'}"></span>
            </div>
        </div>
    </div>
</div>