<div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
    <div class="card-pf-body">
        <div class="card-pf-top-element">
            <span class="fa fa-cogs card-pf-icon-circle"></span>
        </div>
        <h2 class="card-pf-title text-center">
            Scripts Statistics
        </h2>
        <div class="card-pf-items text-center">
            <div class="card-pf-item">
                <span class="card-pf-item-text"><span class="fa fa-cog"></span> Scripts {{scripts.length}}</span>
            </div>
        </div>
        <p class="card-pf-info text-center"><span class="fa pficon-spinner2"></span><strong> Running: </strong>{{running}}</p>
        <p class="card-pf-info text-center"><span class="fa fa-ban"></span><strong> Stopped: </strong>{{stopped}}</p>
    </div>
    <div class="card-pf-view-checkbox">
        <input type="checkbox">
    </div>
</div>