<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Script Wizard</h4>
            </div>
            <div class="modal-body">

                <wizard name="scripts_wizard" on-finish="close(true)">

                    <wz-step wz-title="Select Subject" class="wizard-content">

                        <div class="row">
                            <div class="col-xs-12">
                                <control-select areas="areas" area="wlist.get(-1).area" device="wlist.get(-1).device" control="wlist.get(-1).control"></control-select>
                                <!--<input type="submit" class="pull-right wizard-nav" wz-next="writeSubject()" value="Continue" class="btn btn-primary" />-->
                                <button type="button" class="pull-right wizard-nav btn btn-primary glyphicon glyphicon-chevron-right" wz-next="beforeCompare()"></button>
                                <!--<ul class="pager">-->
                                    <!--<li class="previous">-->
                                        <!--<a href="#">-->
                                            <!--<span class="i fa fa-angle-left"></span>-->
                                            <!--Previous-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li class="next">-->
                                        <!--<a href="#">-->
                                            <!--Next-->
                                            <!--<span class="i fa fa-angle-right"></span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                    </wz-step>


                    <wz-step wz-title="Compare" class="wizard-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div btn-group list="wlist.get(-1).compList" model="wlist.get(-1).comp"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="pull-right wizard-nav btn btn-primary glyphicon glyphicon-chevron-right" wz-next></button>
                            </div>
                        </div>
                    </wz-step>

                    <wz-step wz-title="Value compare to" class="wizard-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-init="input_btn='value from input'; dev_ctrl_btn='value from device control'"></div>
                                <div class="center" btn-group list="[input_btn, dev_ctrl_btn]" model="input_from" on-click-list="[selectInput, selectControl]" disapear="true"></div>
                                {{mod}}
                                <div></div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="pull-right wizard-nav btn btn-primary glyphicon glyphicon-chevron-right" wz-next></button>
                            </div>
                        </div>
                    </wz-step>



                    <wz-step wz-title="More steps" class="wizard-content">
                        <p>Even more steps!!</p>
                        <input type="submit" wz-next value="Finish now" data-dismiss="modal"/>
                    </wz-step>

                </wizard>


            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>-->
                <!--<button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>-->
            <!--</div>-->
        </div>
    </div>
</div>