<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Script Wizard</h4>
            </div>
            <div class="modal-body">

                <wizard name="scripts_wizard" on-finish="close(true)">

                    <!--step 1 -->
                    <wz-step wz-title="Select Control">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">Select <b>Area</b> first, then <b>device</b>, then <b>control</b></div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <control-select areas="areas" area="wlist.get(-1).area" device="wlist.get(-1).device" control="wlist.get(-1).control"></control-select>
                            </div>
                        </div>
                        <wizard-nav prev="" next="step2()"></wizard-nav>
                    </wz-step>


                    <!--step 2 -->
                    <wz-step wz-title="Compare">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">Select <b>comparison</b> operator</b></div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <div btn-group list="wlist.get(-1).compList" model="wlist.get(-1).comp" selected-index="index"></div>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step3()"></wizard-nav>
                    </wz-step>

                    <!--step 3 -->
                    <wz-step wz-title="To">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">Select value type compare to</b></div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <div class="center" wizard-alternatives list="wlist.get(-1).inputTypesList" model="_" selected-index="wlist.get(-1).selectedIndex"></div>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step4()"></wizard-nav>
                    </wz-step>

                    <!--step 4 -->
                    <wz-step wz-title="Value">
                        <!--value from input-->
                        <div ng-if="wlist.get(-2).selectedIndex==0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">Enter value for <p>Area: <b>{{wlist.get(-4).area.name}}</b></p>
                                        <p>Device: <b>{{wlist.get(-4).device.name}}</b></p>
                                        <p>Control: <b>{{wlist.get(-4).control.name}}</b></p></div>
                                </div>
                            </div>
                            <div class="row wizard-content">
                                <div class="col-xs-12 center-outer">
                                    <control-input ng-if="isCurrentStep(4)" type="wlist.get(-1).ctrlTypeName" model="wlist.get(-1).model" class="center-inner"></control-input>
                                </div>
                            </div>
                        </div>
                        <!--value from control select-->
                        <div ng-if="wlist.get(-2).selectedIndex==1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">Select <b>Area</b> first, then <b>device</b>, then <b>control</b></div>
                                </div>
                            </div>
                            <div class="row wizard-content">
                                <div class="col-md-12">
                                    <control-select areas="areas" area="wlist.get(-1).area" device="wlist.get(-1).device" control="wlist.get(-1).control"></control-select>
                                </div>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step5()"></wizard-nav>
                    </wz-step>

                    <!--step 5 -->
                    <wz-step wz-title="Go To">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <p>Choose <b>and</b> or <b>or</b> if you want add a condition</p>
                                    <p>Choose <b>then</b> if you want to do some actions</p>
                                </div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <div btn-group list="wlist.get(-1).keyWords" model="wlist.get(-1).keyWord" selected-index="index"></div>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step6()"></wizard-nav>
                    </wz-step>

                    <!--step 6 -->
                    <wz-step wz-title="Assign To">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    Select <b>Area</b> first, then <b>device</b>, then <b>control</b>
                                </div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <control-select areas="areas" area="wlist.get(-1).area" device="wlist.get(-1).device" control="wlist.get(-1).control"></control-select>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step7()"></wizard-nav>
                    </wz-step>

                    <!--step 7 -->
                    <wz-step wz-title="Value">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">Enter value for <p>Area: <b>{{wlist.get(-2).area.name}}</b></p>
                                    <p>Device: <b>{{wlist.get(-2).device.name}}</b></p>
                                    <p>Control: <b>{{wlist.get(-2).control.name}}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12 center-outer">
                                <control-input ng-if="isCurrentStep(7)" type="wlist.get(-1).ctrlTypeName" model="wlist.get(-1).model" class="center-inner"></control-input>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step8()"></wizard-nav>
                    </wz-step>

                    <!--step 8 -->
                    <wz-step wz-title="Go To">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <p>Choose <b>continue</b> to do one more action</p>
                                    <p>Choose <b>end</b> go to finish step</p>
                                </div>
                            </div>
                        </div>
                        <div class="row wizard-content">
                            <div class="col-xs-12">
                                <div wizard-alternatives list="wlist.get(-1).keyWords" model="wlist.get(-1).keyWord" selected-index="index"></div>
                            </div>
                        </div>
                        <wizard-nav prev="stepBack()" next="step9()"></wizard-nav>
                    </wz-step>

                    <!--step 9 -->
                    <wz-step wz-title="Final">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="script_form">
                                    <div class="form-group" ng-class="{'has-error': script_form.$invalid}">
                                        <label class="col-sm-3 control-label" for="name">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="script.name" id="name" class="form-control" required autofocus>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-md-12">
                                        <label class="col-sm-3 control-label" for="name">Description</label>
                                        <div class="col-sm-9">
                                            <a href="#" editable-textarea="script.description" e-label="Description">{{ script.description || 'Edit Description' }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href editable-textarea="script.code" e-rows="7" e-cols="40">
                                    <pre>{{ script.code }}</pre>
                                </a>
                            </div>
                        </div>
                        <input type="submit" wz-next="finish()" class="btn btn-primary btn-lg" value="Finish now" data-dismiss="modal"/>
                    </wz-step>


                </wizard>
            </div>
        </div>
    </div>
</div>