.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.control-select {
  //width: 120px !important;
}

.wizard-content {
  margin-top: 30px;
}

.wizard-nav {
  margin-top: 40px;
}

.dev-control {
  margin-top: 20px;
}

.text-ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:100%;
  display:block;
}

.center-outer {
  width: 100%;
  text-align: center;
}

.center-inner {
  display: inline-block;
}

.centered{
  display: table;
  margin: 0 auto;
}

.no-underline{
  border: none !important;
}