@media (min-width: 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .pull-right-large {
    float: right;
  }
}

@media (max-width: 768px) {
  .pull-left-small {
    float: left;
  }
}

.control-select {
  //width: 120px !important;
}

.wizard-content {
  margin-top: 30px;
}

.wizard-nav {
  margin-top: 40px;
}

.dev-control {
  margin-top: 20px;
}

.text-ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:100%;
  display:block;
}

.center-outer {
  width: 100%;
  text-align: center;
}

.center-inner {
  display: inline-block;
}

.centered{
  display: table;
  margin: 0 auto;
}

.no-underline{
  border: none !important;
}

.text-wrap {
  word-wrap: break-word;
}

.geoloc-container {
  height: 80vh;
}
yandex-map {
  display: block;
  height: 100%;
  width: 100%;
}

.card-info {
  position:absolute;
  bottom:0;
  left: 40%
}

.stat-number {
  position:absolute;
  bottom:30px;
  left:48%
}

.counter {
  font-size: 19px;
  color: #42648b;
  padding-bottom: 3px;
  line-height: 21px
}

.left_count_wrap {
  zoom: 1;
  vertical-align: top;
  color: rgb(91, 110, 133);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  line-height: 17px;
  height: 16px;
  margin: 2px 0px 2px 2px;
  padding: 4px 6px;
  background: rgb(209, 217, 224);
  border-radius: 2px;
  transition: background-color 200ms linear, color 200ms linear;
}

.fl_r {
  float: right;
}