<div vertilize-container class="row row-cards-pf">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <automation-server-card vertilize automation-server="automationServer" auto-serv-sock="autoServSock">
        </automation-server-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <weather-card vertilize automation-server="automationServer"></weather-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <dev-stat-card vertilize areas="areas"></dev-stat-card>
    </div>
</div>
<div vertilize-container class="row row-cards-pf">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <scripts-stat-card vertilize scripts="scripts"></scripts-stat-card>
    </div>
</div>

